.app-header {
  background-color: #1c28ce;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
}

.app-header__link {
  border-bottom: 2px solid #c200d4;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 1em;
  transition: all 0.2s ease-in-out;
}

.app-header__link:hover,
.app-header__link:focus {
  border-bottom: 2px solid black;
  opacity: 0.8;
}
.logo{
  margin-left: 40px;
  margin-top: 10px;
  
  }
  .logo img{
      height: 7vh;
  }
  .logo h3{
      color:rgb(18, 241, 241);
      font-size: 25px;
      margin-top: -35px;
  
      margin-left: 50px;
  }