
<br>
    <div class="container">
      <div class="row">
        <div class="col">
         <h2><strong>About MovieHub</strong></h2>
        </div>
          
        </div>
        </div>
        <br>
        <div class="container">
          <div class="row">
          <div class="col">Welcome to <b>MovieHub</b>, here user will get variety of movies in all languages. Here user can also find all Trending movies,
           Bollywood movies, Tollywood Movies, Hollywood movies and so on...
          </div>
          <div class="col"></div>
          
        </div>
        </div>
        <br>
        <br>
        <div class="container">
          <div class="row">
          <div class="col">MovieHub application is designed for every users to accsess movies related information in all languages.
          Here users search for a any movies and can get all the related informations, including rating, released year, language, genre of movie etc.
          users can also watch movies through youtube links that <b>MovieHub</b> appliction has provided that feartures as well.
  
          </div>
          <div class="col"></div>
          </div>
          
        </div>

