<div class="card">
    <h3 align="center">Create New Password Here!!</h3>
  
    <table>
      <tr>
          <td>UserId</td>
          <td><input type="text" #UserId></td>
      </tr>
      <!-- <tr>
          <td>Security Password</td>
          <td>
             <select name="Nationality">
                 <option value="select">select</option>
                  <option value="Indian">What is your Nationality</option>
                  <option value="Russian">What is your pet Name</option>
                  <option value="American">What is your favourite Place</option>
                  <option value="American">What is your first school Name</option>
              </select>
          </td>
      </tr>
      <tr>
          <td>Answer</td>
          <td><input type="text" #Answer></td>
      </tr> -->
      <tr>
          <td>Enter New Password</td>
          <td><input type="text" #Enter New Password></td>
          </tr>
          <tr>
              <td>Confirm Password</td>
              <td><input type="text" #Confirm Password></td>
              </tr>
          </table> 
          <tr>
            <td><button type="submit" class="btn btn-primary mt-3">Rese Password</button></td>
            <a routerLink='/signup' style="float: right;color:#fff">New User? Click to SignUp!</a><br>
            </tr>
    </div>
