<div class="card">
    <h3 align="center">Create New Password Here!!</h3>
  
    <div>
        <label>Enter your Username</label>
        <input type="text" class="form-control" #usrname1>
        </div>
        <div>
            <label>Enter your Password </label>
            <input type="password" class="form-control"#psword1>
        </div>
        <div>
            <label>Enter your Password Again</label>
            <input type="password" class="form-control"#psword2>
        </div>
          <tr>
            <td><button type="submit" (click)="passrec(usrname1.value,psword1.value,psword2.value)" class="btn btn-primary mt-3">Submit</button></td>
            <a routerLink='/signup' style="float: right;color:#fff">New User? Click to SignUp!</a><br>
            </tr>
    </div>
