<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="box">
                    <div class="text-center mb-4">
                        <h6> Recover your Password Here!</h6>
                    
                    </div>
                    <form [formGroup]="forgotForm" (ngSubmit)="forgot()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <span class="text-danger" *ngIf="forgotForm.controls['email'].dirty && forgotForm.hasError('required','email')">*Email address is required</span>
                            <span class="text-danger" *ngIf="forgotForm.hasError('email','email')">*Email is Invalid</span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            <span class="text-danger" *ngIf="forgotForm.controls['password'].dirty && forgotForm.hasError('required','password')">*Password is required</span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirm Password</label>
                            <input type="password" formControlName="confirmpassword" class="form-control" id="exampleInputPassword1" placeholder="confirm Password">
                            <span class="text-danger" *ngIf="forgotForm.controls['confirmpassword'].dirty && forgotForm.hasError('required','confirmpassword')">*Password is required</span>
                        </div>

                        <button type="submit" [disabled]="!forgotForm.valid" class="btn btn-primary mt-3">Submit</button>
                    </form>
                    <a routerLink='/signup' style="float: right;color:#fff">New User? Click to SignUp!</a><br>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- <div>
        <label>Enter your Username</label>
        <input type="text" class="form-control" #usrname1>
        </div>
        <div>
            <label>Enter your Password </label>
            <input type="password" class="form-control"#psword1>
        </div>
        <div>
            <label>Enter your Password Again</label>
            <input type="password" class="form-control"#psword2>
        </div> -->
<tr>
            <!-- <td><button type="submit" (click)="forgot()" class="btn btn-primary mt-3">Submit</button></td> -->
<a routerLink='/signup' style="float: right;color:#fff">New User? Click to SignUp!</a><br>
 </tr>
  
