body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.card {
    margin-bottom: 20px;
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(186, 84, 181);
    background: linear-gradient(90deg, rgb(186, 84, 181) 0%, rgb(112, 90, 155) 100%);
}

.card label,
h1,
h6 {
    color: #fff;
}

.form-group {
    padding: 5px;
    margin: 5px;
}

form .btn {
    margin: 10px;
}