<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="user.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="images/logo/e.png">
    <title>Movie Hub</title>
</head>
<body>
    <!--Header section-->
    <header>
    <div class="nav" id="small_menu">
        <button class="hamburger" id="hamburger">
            <i class="fas fa-bars"></i>
        </button>
        </div>
        <!-- <button routerLink="/login" class="btn btn-primary mx-3">Logout</button> -->
        </header>
        
        
        <!-- <ul>
            <li><a href="">Home</a></li>
            <li><a href="#hollywood">Movies</a></li>
            <li><a href="#tollywood">Generes</a></li>
            <li><a href="#youtube">Series</a></li>
        </ul>
    </div>
  
    <div class="user">
        <i class="fas fa-bell"></i>
        <i class="fas fa-search"></i>
        <a href="">Login</a>
     
    </div>   -->

<!----------------->

<!--Hero section-->
<section>
    <div class="heropage">
        <div class="inside-heropage">
            <span>NOW STREAMING</span>
            <div class="line1">

            </div>
            <h1>WAKANDA FOREVER</h1>
            <p>Action,Drama,Sci-fi | 2022 | USA | 130 min</p>
            <div class="btn1">
            <a href="https://youtu.be/qZuQc-GvRlk"><i class="fas fa-play"></i>Watch Now</a>
            <!-- <a href=""><i class="fas fa-heart"></i>Watch Later</a> -->
            </div>
        </div>
    </div>
    <div class="poster">
        <img src="../assets/images/hero page/2.jpg" alt="">
    </div>
</section>

        <!------Lates movies---->
        <div class="latest-movies">
            <h1>TRENDING  MOVIES</h1>
            <div class="latest-container">
                <div class="latest-inside">
                    <img src="../assets/images/horizantal/a.jpg" alt="">
                    <div class="heading1">
                        <h4>Avatar</h4>
                        <p><span>&#9733;&#9733;&#9733;&#9733;&#9734; </span></p>
                        <h6>Action</h6>
                    </div>
                   <div class="btn2">
                       <a href="https://youtu.be/a8Gx8wiNbs8">Watch Now</a>
                   </div>
                </div>
                <div class="latest-inside">
                    <img src="../assets/images/horizantal/b.webp" alt="">
                    <div class="heading1">
                        <h4>Protoype</h4>
                        <p><span>&#9733;&#9733;&#9733;&#9733;&#9734; </span></p>
                        <h6>Action</h6>
                    </div>
                   <div class="btn2">
                       <a href="https://youtu.be/1eCEvyGnd7U">Watch Now</a>
                   </div>
                </div>
                <div class="latest-inside">
                    <img src="../assets/images/horizantal/c.jpg" alt="">
                    <div class="heading1">
                        <h4>Brahmastra</h4>
                        <p><span>&#9733;&#9733;&#9733;&#9733;&#9734; </span></p>
                        <h6>Action</h6>
                    </div>
                   <div class="btn2">
                       <a href="https://youtu.be/V5jVntRVl-0">Watch Now</a>
                   </div>
                </div>
                <div class="latest-inside">
                    <img src="../assets/images/horizantal/d.webp" alt="">
                    <div class="heading1">
                        <h4>Teardrop</h4>
                        <p><span>&#9733;&#9733;&#9733;&#9733;&#9734; </span></p>
                        <h6>Action</h6>
                    </div>
                   <div class="btn2">
                       <a href="https://youtu.be/srdIxYmLfk4">Watch Now</a>
                   </div>
                </div>

                <div class="latest-inside">
                    <img src="../assets/images/horizantal/e.jpg" alt="">
                    <div class="heading1">
                        <h4>Cirkus</h4>
                        <p><span>&#9733;&#9733;&#9733;&#9733;&#9734; </span></p>
                        <h6>Comedy</h6>
                    </div>
                   <div class="btn2">
                       <a href="https://youtu.be/HUr5OJJS-qk">Watch Now</a>
                   </div>
                </div>
            </div>
        </div>
     
        <!---Hollywood Movies-->
        <section>
      
        <div class="hollywood-movies" id="hollywood">
             <h1>HOLLYWOOD MOVIES</h1>
            <div class="hollywood-container">
                <div class="hollywood-inside">
                    <img src="../assets/images/hollywood/2.jpg" alt="">
                   
                    <h3>TENET</h3>
                    <h6>Language: English</h6>
                    <div class="imdb">
                        <p>9.8</p>
                      
                    </div>
                </div>
                <div class="hollywood-inside">
                    <img src="../assets/images/hollywood/12.jpg" alt="">
                    <h3>WW 84</h3>
                    <h6>Language: English</h6>
                    <div class="imdb">
                        <p>8.5</p>
                    </div>
                </div>
                <div class="hollywood-inside">
                    <img src="../assets/images/hollywood/13.jpg" alt="">
                    <h3>MONOCHROME</h3>
                    <h6>Language: English</h6>
                    <div class="imdb">
                        <p>9.2</p>
                    </div>
                </div>
                <div class="hollywood-inside">
                    <img src="../assets/images/hollywood/14.jpg" alt="">
                    <h3>MORTAL</h3>
                    <h6>Language: English</h6>
                    <div class="imdb">
                        <p>8.5</p>
                    </div>
                </div>
                <div class="hollywood-inside">
                    <img src="../assets/images/hollywood/15.jpg" alt="">
                    <h3>DONT LOOK BACK</h3>
                    <h6>Language: English</h6>
                    <div class="imdb">
                        <p>8.9</p>
                    </div>
                </div>
                <div class="hollywood-inside">
                    <img src="../assets/images/hollywood/3.jpg" alt="">
                    <h3>BLOOD HOUND</h3>
                    <h6>Language: English</h6>
                    <div class="imdb">
                        <p>8.5</p>
                    </div>
                </div>
                <div class="hollywood-inside">
                    <img src="../assets/images/hollywood/1.jpg" alt="">
                    <h3>REUNION</h3>
                    <h6>Language: English</h6>
                    <div class="imdb">
                        <p>9.5</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="more1">
        </div>
    </section>
    <!------------->

            <!---tollywood Movies-->
            <section>
                <div class="tollywood-movies" id="tollywood">
                    <h1>TOLLYWOOD MOVIES</h1>
                    <div class="tollywood-container">
                        <div class="tollywood-inside">
                            <img src="../assets/images/telugumovies/2.jpg" alt="">
                            <h3>BHEESHMA</h3>
                            <h6>Language: Telgu</h6>
                            <div class="imdb">
                                <p>9.8</p>
                            </div>
                        </div>
                        <div class="tollywood-inside">
                            <img src="../assets/images/telugumovies/16.jpg" alt="">
                            <h3>BIMBISARA</h3>
                            <h6>Language: Telgu</h6>
                            <div class="imdb">
                                <p>8.5</p>
                            </div>
                        </div>
                        <div class="tollywood-inside">
                            <img src="../assets/images/telugumovies/19.jpg" alt="">
                            <h3>CITIMAR</h3>
                            <h6>Language: Telgu</h6>
                            <div class="imdb">
                                <p>9.2</p>
                            </div>
                        </div>
                        <div class="tollywood-inside">
                            <img src="../assets/images/telugumovies/15.jpg" alt="">
                            <h3>RAMA RAO</h3>
                            <h6>Language: Telgu</h6>
                            <div class="imdb">
                                <p>8.5</p>
                            </div>
                        </div>
                        <div class="tollywood-inside">
                            <img src="../assets/images/telugumovies/27.jpg" alt="">
                            <h3>VAKEEL SAB</h3>
                            <h6>Language: Telgu</h6>
                            <div class="imdb">
                                <p>8.9</p>
                            </div>
                        </div>
                        <div class="tollywood-inside">
                            <img src="../assets/images/telugumovies/1.jpg" alt="">
                            <h3>SRI KARAM</h3>
                            <h6>Language: Telgu</h6>
                            <div class="imdb">
                                <p>8.5</p>
                            </div>
                        </div>
                        <div class="tollywood-inside">
                            <img src="../assets/images/telugumovies/26.jpg" alt="">
                            <h3>JERSEY</h3>
                            <h6>Language: Telgu</h6>
                            <div class="imdb">
                                <p>9.5</p>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="more2">
               </div>
            </section>
            <!------------->


              <!---collywood Movies-->
  <section>
    <div class="bollywood-movies">
        <h1>BOLLYWOOD MOVIES</h1>
        <div class="bollywood-container">
            <div class="bollywood-inside">
                <img src="../assets/images/bollywood/1.jpg" alt="">
                <h3>BHOOL BHULAIYAA</h3>
                <h6>Language: Hindi</h6>
                <div class="imdb">
                    <p>9.8</p>
                </div>
            </div>
            <div class="bollywood-inside">
                <img src="../assets/images/bollywood/2.jfif" alt="">
                <h3>BELL BOTTOM</h3> 
                <h6>Language: Hindi</h6>
                <div class="imdb">
                    <p>7.5</p>
                </div>
            </div>
            <div class="bollywood-inside">
                <img src="../assets/images/bollywood/3.jpg" alt="">
                <h3>TANHAJI</h3>
                <h6>Language: Hindi</h6>
                <div class="imdb">
                    <p>8.0</p>
                </div>
            </div>
            <div class="bollywood-inside">
                <img src="../assets/images/bollywood/4.jpg" alt="">
                <h3>CHALANAG</h3>
                <h6>Language: Hindi</h6>
                <div class="imdb">
                    <p>8.5</p>
                </div>
            </div>
            <div class="bollywood-inside">
                <img src="../assets/images/bollywood/5.jfif" alt="">
                <h3>JALSA</h3>
                <h6>Language: Hindi</h6>
                <div class="imdb">
                    <p>9.0</p>
                </div>
            </div>
            <div class="bollywood-inside">
                <img src="../assets/images/bollywood/6.jpg   " alt="">
                <h3>RAKSHA BANDHAN</h3>
                <h6>Language: Hindi</h6>
                <div class="imdb">
                    <p>9.2</p>
                </div>
            </div>
            <div class="bollywood-inside">
                <img src="../assets/images/bollywood/7.webp" alt="">
                <h3>83</h3>
                <h6>Language: Hindi</h6>
                <div class="imdb">
                    <p>9.5</p>
                </div>
            </div>
        </div>
    </div>
    <div class="more3">
    </div>
        </section>
<!------------->

              <!---Animated Movies-->
              <section>
                <div class="animated-movies">
                    <h1>ANIMATED MOVIES</h1>
                    <div class="animated-container">
                        <div class="animated-inside">
                            <img src="../assets/images/animated/1.jpg" alt="">
                            <h3>MINIONS</h3>
                            <h6>Language: English</h6>
                            <div class="imdb">
                                <p>9.8</p>
                            </div>
                        </div>
                        <div class="animated-inside">
                            <img src="../assets/images/animated/2.jpg" alt="">
                            <h3>LUCA</h3>
                            <h6>Language: English</h6> 
                            <div class="imdb">
                                <p>7.5</p>
                            </div>
                        </div>
                        <div class="animated-inside">
                            <img src="../assets/images/animated/3.jpg" alt="">
                            <h3>Encanto</h3>
                            <h6>Language: Hindi</h6>
                            <div class="imdb">
                                <p>8.0</p>
                            </div>
                        </div>
                        <div class="animated-inside">
                            <img src="../assets/images/animated/4.jpg" alt="">
                            <h3>Over the Moon</h3>
                            <h6>Language: English</h6>
                            <div class="imdb">
                                <p>8.5</p>
                            </div>
                        </div>
                        <div class="animated-inside">
                            <img src="../assets/images/animated/5.jpg" alt="">
                            <h3>WALL E</h3>
                            <h6>Language: English</h6>
                            <div class="imdb">
                                <p>9.0</p>
                            </div>
                        </div>
                        <div class="animated-inside">
                            <img src="../assets/images/animated/6.jpg" alt="">
                            <h3>UP</h3>
                            <h6>Language: Hindi</h6>
                            <div class="imdb">
                                <p>9.2</p>
                            </div>
                        </div>
                        <div class="animated-inside">
                            <img src="../assets/images/animated/7.jpg" alt="">
                            <h3>INSIDE OUT</h3>
                            <h6>Language: English</h6>
                            <div class="imdb">
                                <p>9.5</p>
                            </div>
                        </div>
                    </div>
                </div>
                    </section>
            <!------------->



   <!---sollywood Movies-->
   <section>
    <div class="sollywood-movies">
        <h1>KANNADA MOVIES</h1>
        <div class="sollywood-container">
            <div class="sollywood-inside">
                <img src="../assets/images/kannada/a.jpg" alt="">
                <h3>GOOGLY</h3>
                Language: kannada
                <div class="imdb">
                    <p>9.8</p>
                </div>
            </div>
            <div class="sollywood-inside">
                <img src="../assets/images/kannada/f.jpg" alt="">
                <h3>ADYAKSHA</h3>
                Language: kannada 
                <div class="imdb">
                    <p>7.5</p>
                </div>
            </div>
            <div class="sollywood-inside">
                <img src="../assets/images/kannada/1.png" alt="">
                <h3>LOCKED</h3>
                Language: kannada
                <div class="imdb">
                    <p>8.0</p>
                </div>
            </div>
            <div class="sollywood-inside">
                <img src="../assets/images/kannada/d.jpg" alt="">
                <h3>ADYAKSHA 2</h3>
                Language: kannada
                <div class="imdb">
                    <p>8.5</p>
                </div>
            </div>
            <div class="sollywood-inside">
                <img src="../assets/images/kannada/c.jpg" alt="">
                <h3>HAIRAVATHA</h3>
                Language: kannada
                <div class="imdb">
                    <p>9.0</p>
                </div>
            </div>
            <div class="sollywood-inside">
                <img src="../assets/images/kannada/b.jpg" alt="">
                <h3>KANAKA</h3>
                Language: kannada
                <div class="imdb">
                    <p>9.2</p>
                </div>
            </div>
            <div class="sollywood-inside">
                <img src="../assets/images/kannada/3.jpg" alt="">
                <h3>BIRBAL</h3>
                Language: kannada
                <div class="imdb">
                    <p>9.5</p>
                </div>
            </div>
        </div>
    </div>
        </section>
<!------------->
        
<section class="akira" id="youtube">
    <div class="line">
    </div>
    <div class="yt-movies">
        <h1>YOUTUBE MOVIES</h1>
        <p>BLOCKBUSTER OF THE MONTH.</p>
        <div class="yt-container">
            <div class="inside-yt">
                <img src="../assets/images/yt/1.jpg" alt="">
                <div class="heading2">
                    <p>ASPIRANTS</p>
                    <p><span>&#9733;&#9733;&#9733;&#9734;&#9734;</span>
                        <div class="like">
                            <span><i class="fas fa-thumbs-up">52k</i></span>
                            <p>2021</p>
                          
                        </div>
                    <p></p>
                </div>
            </div>
            <div class="inside-yt">
                <img src="../assets/images/yt/2.jpg" alt="">
                <div class="heading2">
                    <p>KOTA FACTORY</p>
                    <p><span>&#9733;&#9733;&#9733;&#9734;&#9733;</span>
                        <div class="like">
                         <span><i class="fas fa-thumbs-up">122k</i></span>
                            <p>2020</p>
                           
                        </div>
                    <p></p>
                </div>
            </div>
            <div class="inside-yt">
                <img src="../assets/images/yt/3.jpg" alt="">
                <div class="heading2">
                    <p>SOFTWARE DEV</p>
                    <p><span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                        <div class="like">
                            <span><i class="fas fa-thumbs-up">142k</i></span>
                            <p>2019</p>
                        </div>
                    <p></p>
                </div>
            </div>
            <div class="inside-yt">
                <img src="../assets/images/yt/d.jfif" alt="">
                <div class="heading2">
                    <p>VALIMAI</p>
                    <p><span>&#9733;&#9733;&#9733;&#9734;&#9733;</span>
                        <div class="like">
                            <span><i class="fas fa-thumbs-up">100k</i></span>
                            <p>2000</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="youtubebtn">
    <a href="https://www.youtube.com/">Watch More<i class="fab fa-youtube"></i></a>
</div>


<!---Footer-->
    <div class="footer">
        <div class="inside-footer">
            <div class="footer-container">
                <div class="logopart">
                    <h1>Movie Hub</h1>
                    <img src="../assets/images/logo/e.png" alt="">
                </div>
                <div class="copyright">
                    <p style="text-align:center;">Created by <span>Team 4</span> All Rights Reserved-2022.</p>
                </div>
                <!-- <div class="socials">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest"></i>                    
                </div> -->
            </div>
        </div>
    </div>

<!------>

<!--Goto button-->
<!-- <div class="scroll">
    <a href=""><i class="fas fa-arrow-up"></i></a>
</div> -->
</body>
</html>
