<ng-container *ngIf="flag=='sear'; then sea"></ng-container>
<ng-container *ngIf="flag=='list';"></ng-container>
<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color:#fff;" class="navbar-brand">Movie Management System</h1>
<div class="d-flex">
</div>
</div>
</nav>
<table class="table mt-3">
<thead>
<tr>
    
    <th scope="col">Title</th>
    <th scope="col">Id</th>
    <th scope="col">Genre</th>
    <th scope="col">LeadActor</th>
    <th scope="col">Rating</th>
    <th scope="col">ReleaseYear</th>
</tr>
</thead>
<tbody>

<tr *ngFor="let row of moviesData">

    <td>{{row.title}}</td>
    <td>{{row.id}}</td>
    <td>{{row.genre}}</td>
    <td>{{row.leadActor}}</td>
    <td>{{row.rating}}</td>
    <td>{{row.releaseYear}}</td>
</tr>
</tbody>
<a role="button" (click)="sec_here()">Search Movies Here</a>

<br>

<ng-template #sea>
<table width="40%"  bgcolor="Orange">
    <h1>Search Here</h1>
    <tr>
        <td>Enter Movie Name</td>
        </tr>
        <tr>
        <td><input type="text" #ref></td>
    </tr>
    <tr>
        <td><button (click)="SearchMov(ref.value)">Search</button></td>
        
    </tr>
   
    <tr>
        <td>Title</td>
        <th>{{obj.Title}}</th>
        </tr>
        <tr>
            <td>ID</td>
            <th>{{obj.Id}}</th>
        </tr>
        <tr>
            <td>Genre</td>
        <th>{{obj.Genre}}</th>
        </tr>
        <tr>
        <td>Leadactor</td>
        <th>{{obj.LeadActor}}</th>
        </tr>
        <tr>
            <td>Rating</td>
        <th>{{obj.Rating}}</th>
        </tr>
        <tr>
            <td>ReleaseYear</td>
        <th>{{obj.ReleaseYear}}</th>
        </tr>
       
</table>

</ng-template>
