<ng-container *ngIf="flag=='sear'; then sea"></ng-container>
<ng-container *ngIf="flag=='list'; then ls"></ng-container>
<ng-template #ls>
<table>
    <tr *ngFor="let p of listmovie">
        <td>{{p.id}}</td>
        <td>{{p.title}}</td>
        <td>{{p.genre}}</td>
        <td>{{p.leadActor}}</td>
        <td>{{p.language}}</td>
        <td>{{p.rating}}</td>
        <td>{{p.releaseYear}}</td>
    </tr>
     
</table>
<a role="button" (click)="sec_here()">Search Movies Here</a>
</ng-template>
<br>

<ng-template #sea>
<table>
    <tr>
        <td>Search Movies<input type="text" #ref type="search">
          <button  class="btn btn-primary" (click)="SearchMov(ref.value)">Search</button></td>
      </tr>
 
    <tr>
         <th>Id</th>
        <td>{{obj.id}}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{obj.title}}</td>
        </tr>
        <tr>
            <th>Genre</th>
        <td>{{obj.genre}}</td>
        </tr>
        <tr>
            <th>LeadActor</th>
            <td>{{obj.leadActor}}</td>
        </tr>
            <tr>
                <th>Language</th>
                <td>{{obj.language}}</td>
            </tr>
        <tr>
            <th>Rating</th>
        <td>{{obj.rating}}</td>
        </tr>
        <tr>
            <th>ReleaseYear</th>
        <td>{{obj.releaseYear}}</td>
        </tr>
</table>

</ng-template>